body {
    background-image: 
        linear-gradient(rgba(255,255,255,0.8)), /* Le he aplicado una capa blanca que haga como que pierde opacidad */
        url("https://i.postimg.cc/htxcJGB6/ZKkCecn.jpg");
    background-size: cover; /* Imagen Única */
    background-position: center;
}


video, iframe {
    width: 500px;    
    height: auto;   /* Investigar por que es importante que el css calcule la altura */
    aspect-ratio: 16 / 9; /* Ajuste de ratio para ver el video sin bandas negras o anomalías */
    border-radius: 12px;   /* Para que combine con tus bordes redondeados */
    border: 2px solid #333;
    display: block;
    margin: 15px auto;
}

.img-food{
    width: 500px;
}

nav{
    display: flex; /* Investigar mas acerca de esto */
    justify-content: center;
    font-size: 30px;
    gap: 100px
    }

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

h3{
    font-size: 30px;
    
}

img{
    display: block;
    margin: 0 auto;
}

p{
    text-align: center;
    font-size: 18px;
    width: 500px;
    margin: 0 auto;
}

footer{
    text-align: center;
    font-size: 20px;
}
    


table{
    border-collapse: collapse;
    margin: 0 auto;
    width: auto;
    table-layout: auto;
    
}

th, td{
    border: 2px solid black;     /* bordes visibles */
    padding: 10px 15px;          /* espacio dentro de las celdas */
    text-align: center;
    font-size: 22px;
    
}


q{
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

form{
    border: solid #333;
    border-radius: 8px;
    background-color: rgb(250, 210, 151);
    padding: 20px;
    font-size: 20px;
    width: 300px;
    margin: 0 auto;

    display: flex;
    flex-direction: column; /* Alinea los elementos uno debajo de otro */
    align-items: center; /* Centra los elementos horizontalmente */
    
}